.login-card {
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.login-card ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
}



/* ion-icon {
    color: #007BFF; /* Change this color to match your theme */


/* ion-button {
    background-color: #007BFF; /* Change this color to match your theme */
    /* color: white;
    font-weight: bold;*/ 




/* Align IonItem contents properly */


/* Ensures proper spacing between icon and label */
.ion-label {
    margin-left: 8px;
    font-size: 14px;
}
/* Align IonItem contents properly */
.align-items-center {
    
    align-items: center;
}

/* Adjust the icon size and alignment */
.input-icon {
    font-size: 20px; /* Set icon size */
    margin-bottom: 50px;
}

/* Input field styling */
.ion-input-custom {
    
    margin-top: 5px;
}